/* ---------------------------------------------------
    Grid
--------------------------------------------------- */

/* ------ Grid Base ------ */

.row {
  @include clearfix;
}

.col {
  float: left;
	padding: 0 $spacing-small;
  &[class*=" offset-"]{
    min-height: 1px;
  }
}

/* ------ Responsive Column ------ */

@for $i from 1 through length($col-widths) {
	.col-sm-#{$i} {
		width: nth($col-widths, $i);
	}
}

@for $i from 1 through length($col-widths) {
	@include tablet-and-up {
		.col-md-#{$i} {
			width: nth($col-widths, $i);
		}
	};
}

@for $i from 1 through length($col-widths) {
	@include laptop-and-up {
		.col-lg-#{$i} {
			width: nth($col-widths, $i);
		}
	};
}

/* ------ Offset Column ------ */

@for $i from 1 through length($col-widths) {
  .offset-sm-#{$i} {
    margin-left: $col-gutter + nth($col-widths, $i);
  }
}

@for $i from 1 through length($col-widths) {
	@include tablet-and-up {
		.offset-md-#{$i} {
			margin-left: $col-gutter + nth($col-widths, $i);
		}
	};
}

@for $i from 1 through length($col-widths) {
	@include laptop-and-up {
		.offset-lg-#{$i} {
			margin-left: $col-gutter + nth($col-widths, $i);
		}
	};
}
