/* ---------------------------------------------------
    Mixins
--------------------------------------------------- */

/* ------ Responsive Layout ------ */

@mixin tablet-and-up {
  @media screen and (min-width: $tablet-width) {
    @content;
  }
}

@mixin laptop-and-up {
  @media screen and (min-width: $laptop-width) {
    @content;
  }
}

/* ------ Clearfix ------ */

@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}
