/* ---------------------------------------------------
    Variables - Module
--------------------------------------------------- */

/* ------ Default Radius ------ */

$radius-default: 10px;

/* ------ Border Weights ------ */

$border-thin    : 1px;
$border-default : 2px;
$border-thick   : 4px;
