/* ---------------------------------------------------
    Variables
--------------------------------------------------- */

/* ------------------------------
  Layout
------------------------------ */

/* ------ Screen Width ------ */

// Breakpoints
$tablet-width  : 768px;
$laptop-width  : 1024px;

// Max Content Width
$max-content-width : 1280px;

/* ------ Grid ------ */

$col-gutter : 2%;
// $col-widths : 8.33333333333%,
//               16.6666666667%,
//               25%,
//               33.3333333333%,
//               41.6666666667%,
//               50%,
//               58.3333333333%,
//               66.6666666667%,
//               75%,
//               83.3333333333%,
//               91.6666666667%,
//               100%;
$col-widths : 6.5%,
              15.0%,
              23.5%,
              32.0%,
              40.5%,
              49.0%,
              57.5%,
              66.0%,
              74.5%,
              83.0%,
              91.5%,
              100%;

/* ------ Margin or Padding Spacing ------ */

$spacing-x-large : 50px;
$spacing-large   : 30px;
$spacing-medium  : 20px;
$spacing-small   : 10px;
$spacing-x-small : 5px;


/* ------------------------------
  Module
------------------------------ */

/* ------ Default Radius ------ */

$radius-default: 10px;

/* ------ Border Weights ------ */

$border-thin    : 1px;
$border-default : 2px;
$border-thick   : 4px;


/* ------------------------------
  Color
------------------------------ */

/* ------ Project Theme ------ */

// Project Colors
$pink-purple: #8b7297;
$tealish    : #31aeaa;

// System Default Colors
$white   : #fff;
$black   : #252525;
$success : #3bc374;
$warning : #e6ca23;
$error   : #dd4627;

// Grayscale
$gray-10 : #ededed;
$gray-20 : #dfdfdf;
$gray-30 : #a8a8a8;
$gray-40 : #7a7a7a;
$gray-50 : #414141;

// Shadows
$text-shadow       : 0 0 4px rgba(0, 0, 0, 0.35);
$box-shadow        : 0 0 4px 0 rgba(0, 0, 0, 0.30);
$inset-box-shadow  : inset 0 1px 2px 0 rgba(0,0,0,0.15);

/* ------ Setting Colors ------ */

// Main Colors
$color-primary   : $pink-purple;
$color-secondary : $tealish;

// Main Color Shades
$color-primary-l-30 : lighten($color-primary, 45%);
$color-primary-l-20 : lighten($color-primary, 20%);
$color-primary-l-10 : lighten($color-primary, 5%);
$color-primary-d-10 : darken($color-primary, 5%);
$color-primary-d-20 : darken($color-primary, 10%);
$color-primary-d-30 : darken($color-primary, 20%);

$color-secondary-l-30 : lighten($color-secondary, 45%);
$color-secondary-l-20 : lighten($color-secondary, 20%);
$color-secondary-l-10 : lighten($color-secondary, 5%);
$color-secondary-d-10 : darken($color-secondary, 5%);
$color-secondary-d-20 : darken($color-secondary, 10%);
$color-secondary-d-30 : darken($color-secondary, 20%);

// Background Colors
$color-bg-body   : $gray-20;
$color-bg-header : $color-primary;
$color-bg-main   : $gray-20;
$color-bg-footer : $color-primary-l-30;

// Border Colors
$color-border : $gray-20;

// Text
$color-text-body       : $gray-30;
$color-text-heading-h1 : $color-primary;
$color-text-heading-h2 : $black;
$color-text-heading-h3 : $color-secondary;
$color-text-heading-h4 : $gray-40;
$color-link            : $color-primary;
$color-link-hover      : $color-primary-l-10;


/* ------------------------------
  Typography
------------------------------ */

/* ------ Project Theme ------ */

// Font Family
$font-family-primary   : 'Rajdhani', 'Microsoft YaHei','微软雅黑', STXihei, '华文细黑', Arial, sans-serif;
$font-family-secondary : 'Helvetica Neue', Helvetica, 'Microsoft YaHei','微软雅黑', STXihei, '华文细黑', Arial, sans-serif;

// Font Weight
$font-weight-bold    : 500;
$font-weight-default : 400;
$font-weight-light   : 300;

// Font Sizes
$font-size-xx-large : 2rem;
$font-size-x-large  : 1.8rem;
$font-size-large    : 1.6rem;
$font-size-medium   : 1.2rem;
$font-size-default  : 14px;
$font-size-small    : .85rem;

// Line Height
$line-height-wide    : 1.8;
$line-height-default : 1.6;
$line-height-narrow  : 1.4;

/* ------ Setting Typography ------ */

// Font Family
$font-family-logo    : $font-family-primary;
$font-family-heading : $font-family-secondary;
$font-family-body    : $font-family-secondary;

// Font Weight for Heading
$font-weight-heading : $font-weight-bold;

// Font Sizes
$font-size-h1     : $font-size-xx-large;
$font-size-h2     : $font-size-x-large;
$font-size-h3     : $font-size-large;
$font-size-h4     : $font-size-medium;
$font-size-button : $font-size-medium;
$font-size-body   : $font-size-default;
$font-size-small  : $font-size-small;

// Line Height
$line-height-heading : $line-height-narrow;
$line-height-body    : $line-height-default;
