/* ---------------------------------------------------
    Variables - Typography
--------------------------------------------------- */

/* ------ Project Theme ------ */

// Font Family
$font-family-primary   : 'Lobster', cursive, Arial, sans-serif;
$font-family-secondary : 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Font Weight
$font-weight-bold    : 500;
$font-weight-default : 400;

// Font Sizes
$font-size-xx-large : 3.5rem;
$font-size-x-large  : 1.8rem;
$font-size-large    : 1.6rem;
$font-size-medium   : 1.2rem;
$font-size-default  : 14px;
$font-size-small    : .85rem;

// Line Height
$line-height-default : 1.6;
$line-height-narrow  : 1.4;

/* ------ Setting Typography ------ */

// Font Family
$font-family-logo    : $font-family-primary;
$font-family-heading : $font-family-secondary;
$font-family-body    : $font-family-secondary;

// Font Weight for Heading
$font-weight-heading : $font-weight-bold;

// Font Sizes
$font-size-h1     : $font-size-xx-large;
$font-size-h2     : $font-size-x-large;
$font-size-h3     : $font-size-large;
$font-size-h4     : $font-size-medium;
$font-size-body   : $font-size-default;

// Line Height
$line-height-heading : $line-height-narrow;
$line-height-body    : $line-height-default;
