/* ---------------------------------------------------
    Player
--------------------------------------------------- */

.audio-player {
  position: relative;
  border-radius: $radius-default;
  box-shadow: $box-shadow;
}

.audio-player-cover {
  height: 250px;
  background-color: $gray-40;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: $radius-default $radius-default 0 0;
}

.audio-player-progress {
  position: absolute;
  top: 205px;
  left: 0;
  width: 100%;
  height: 45px;
  padding: $spacing-small $spacing-x-small;
  background-color: rgba(0, 0, 0, .8);
  .col-sm-3 {
    margin-top: 2px;
    &:first-child {
      padding-left: 0;
      text-align: right;
    }
    &:last-child {
      padding-right: 0;
    }
  }
  .col-sm-6 {
    padding: 0;
  }
  .progress-duration,
  .progress-audio-length {
    display: block;
    color: $gray-20;
  }
  .progress-bar {
    padding: 1px 0;
  }
  .progress-bar-inner {
    height: 4px;
    margin: $spacing-small auto;
    background-color: $gray-40;
    .bar-current {
      display: block;
      height: 100%;
      background-color: $white;
    }
  }
}

.audio-player-body {
  padding: $spacing-medium;
  background-color: $white;
  border-radius: 0 0 $radius-default $radius-default;
  text-align: center;
  @include tablet-and-up {
    padding: $spacing-large;
  };
  .body-section + .body-section {
    margin-top: $spacing-large;
  }
  .body-btns {
    .btn {
      display: inline-block;
      img {
        height: 30px;
        transition: transform .15s linear;
        @include tablet-and-up {
          height: 40px;
        };
      }
      &:hover, &:focus {
        img {
          transform: scale(1.1);
        }
      }
      + .btn {
        margin-left: $spacing-medium;
      }
    }
  }
  .body-volume {
    img, input {
      vertical-align: middle;
    }
    img {
      width: 25px;
      + input {
        max-width: 200px;
        margin-left: $spacing-small;
      }
    }
  }
  .body-playlist {
    background-color: $color-primary-l-30;
    box-shadow: $inset-box-shadow;
    li {
      padding: $spacing-x-small $spacing-small;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:hover, &:focus {
        background-color: $color-primary-l-20;
        cursor: pointer;
        color: $white;
      }
      &.active {
        background-color: $color-primary;
        color: $white;
      }
      + li {
        border-top: 1px solid $gray-10;
      }
    }
  }
}
