/* ---------------------------------------------------
    Header
--------------------------------------------------- */

.header {
  padding: $spacing-x-large $spacing-small 0;
  background-color: $color-bg-header;
  text-align: center;
  h1 {
    font-family: $font-family-logo;
    line-height: $line-height-heading - .2
  }
  p {
    margin-bottom: 0;
    color: $gray-40;
    font-size: $font-size-medium;
  }
  @include tablet-and-up {
    padding: ($spacing-x-large * 2) 0 0;
  };
}
